-- AlterTable
ALTER TABLE "Team" ADD COLUMN     "defaultBranch" TEXT,
ADD COLUMN     "githubRepoId" INTEGER,
ADD COLUMN     "lastGithubSyncAt" TIMESTAMP(3),
ADD COLUMN     "sourceType" TEXT NOT NULL DEFAULT 'MANUAL';

-- AlterTable
ALTER TABLE "Ticket" ADD COLUMN     "assigneeCollaboratorId" INTEGER,
ADD COLUMN     "completedAt" TIMESTAMP(3),
ADD COLUMN     "githubBranchName" TEXT,
ADD COLUMN     "startedAt" TIMESTAMP(3),
ADD COLUMN     "ticketKey" TEXT;

-- AlterTable
ALTER TABLE "User" ADD COLUMN     "authSource" TEXT NOT NULL DEFAULT 'LOCAL',
ADD COLUMN     "githubAvatarUrl" TEXT,
ADD COLUMN     "githubLinkedAt" TIMESTAMP(3),
ADD COLUMN     "githubLogin" TEXT,
ADD COLUMN     "githubUserId" INTEGER,
ALTER COLUMN "password" DROP NOT NULL;

-- CreateTable
CREATE TABLE "GitHubInstallation" (
    "id" SERIAL NOT NULL,
    "githubInstallationId" INTEGER NOT NULL,
    "accountLogin" TEXT NOT NULL,
    "accountType" TEXT NOT NULL,
    "createdByUserId" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "GitHubInstallation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GitHubRepository" (
    "id" SERIAL NOT NULL,
    "githubRepoId" INTEGER NOT NULL,
    "installationId" INTEGER NOT NULL,
    "ownerLogin" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "defaultBranch" TEXT NOT NULL,
    "isPrivate" BOOLEAN NOT NULL DEFAULT true,
    "htmlUrl" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSyncedAt" TIMESTAMP(3),

    CONSTRAINT "GitHubRepository_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RepoCollaborator" (
    "id" SERIAL NOT NULL,
    "repositoryId" INTEGER NOT NULL,
    "githubUserId" INTEGER NOT NULL,
    "login" TEXT NOT NULL,
    "displayName" TEXT,
    "avatarUrl" TEXT,
    "email" TEXT,
    "roleName" TEXT,
    "permission" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "linkedUserId" INTEGER,
    "lastSyncedAt" TIMESTAMP(3),

    CONSTRAINT "RepoCollaborator_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "GitHubInstallation_githubInstallationId_key" ON "GitHubInstallation"("githubInstallationId");

-- CreateIndex
CREATE UNIQUE INDEX "GitHubRepository_githubRepoId_key" ON "GitHubRepository"("githubRepoId");

-- CreateIndex
CREATE UNIQUE INDEX "GitHubRepository_fullName_key" ON "GitHubRepository"("fullName");

-- CreateIndex
CREATE UNIQUE INDEX "RepoCollaborator_repositoryId_githubUserId_key" ON "RepoCollaborator"("repositoryId", "githubUserId");

-- CreateIndex
CREATE UNIQUE INDEX "Ticket_ticketKey_key" ON "Ticket"("ticketKey");

-- CreateIndex
CREATE UNIQUE INDEX "User_githubUserId_key" ON "User"("githubUserId");

-- AddForeignKey
ALTER TABLE "Team" ADD CONSTRAINT "Team_githubRepoId_fkey" FOREIGN KEY ("githubRepoId") REFERENCES "GitHubRepository"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ticket" ADD CONSTRAINT "Ticket_assigneeCollaboratorId_fkey" FOREIGN KEY ("assigneeCollaboratorId") REFERENCES "RepoCollaborator"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GitHubInstallation" ADD CONSTRAINT "GitHubInstallation_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GitHubRepository" ADD CONSTRAINT "GitHubRepository_installationId_fkey" FOREIGN KEY ("installationId") REFERENCES "GitHubInstallation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepoCollaborator" ADD CONSTRAINT "RepoCollaborator_repositoryId_fkey" FOREIGN KEY ("repositoryId") REFERENCES "GitHubRepository"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RepoCollaborator" ADD CONSTRAINT "RepoCollaborator_linkedUserId_fkey" FOREIGN KEY ("linkedUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

